tr {
    text-align: left;
}

td {
    padding-right: 20px;
}

#package-list {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#package-list td, #package-list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#package-list tr:nth-child(even){background-color: #f2f2f2;}

#package-list tr:hover {background-color: #ddd;}

#package-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
