
.form-title {
    font-size: 25px;
    margin-top: 2em;
    margin-bottom: -1.4em;
}

.form-label {
    margin-top: .7em;
    margin-bottom: .3em;
}

fieldset {
    margin-top: 2em;
}

.form-legend {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: -0.25em;
}

#repayDate {
    font-weight: bold;
}

.errors {
    width: 30%;
    margin: auto;
    border: 1px solid #E20404;
    background: #FFF3F3;
    color: #E20404;
    padding: 1em;
    border-radius: 4px;
}
.errors li {
    padding-left: 4px;
    margin-left: 14px;
}

.success{
    margin: auto;
    border: 1px solid #41ff00;
    background: #e9ffe8;
    color: #033901;
    padding: 1em;
    border-radius: 4px;
}

#form {
    margin:10px auto;
    width: 60%;
    padding: 20px 12px 10px 20px;
}

@media (min-width: 1500px) {
    #form {
        width: 47%;
    }
}

#form label {
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

#form input[type=text],
#form input[type=date],
#form input[type=datetime],
#form input[type=number],
#form input[type=search],
#form input[type=time],
#form input[type=url],
#form input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    width: 100%;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

#form input[type=text]:focus,
#form input[type=date]:focus,
#form input[type=datetime]:focus,
#form input[type=number]:focus,
#form input[type=search]:focus,
#form input[type=time]:focus,
#form input[type=url]:focus,
#form input[type=email]:focus,
#form textarea:focus,
#form select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

#person-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.person-image-container {
    float: right;
}

.image-section {
    float: right;
}

.text-section {
}

#form section {
    width: 50%;
}

.form-actions {
    margin-left: 0;
    margin-bottom: 100px;
}

.menu-btn {
    float: right;
}