.menu-button{
    width: 30%;
    color: white;
    background-color: #038a8a;
    padding: 10px;
    border-radius: 20px;
}

buton:hover{
    color: white;
    background-color: #04aaaa;
    padding: 10px;
    border-radius: 20px;
}

option{
    width: 10%;
    border-radius: 20px;
}

#mortgage th {
    background-color: #04aaaa;
    padding-left: 20px;
}

.errors {
    border: 1px solid #E20404;
    background: #FFF3F3;
    color: #E20404;
    padding: 1em;
    border-radius: 4px;
}
.errors li {
    padding-left: 4px;
    margin-left: 14px;
}
