#mortgages th {
    background-color: #04aaaa;
}

fieldset{
    border: solid black;
    border-radius: 20px;
}

input{
    border: solid black;
    border-radius: 15px;
}


h1{
    font-size: 80px;
    text-align: center;
}

div{
    margin: 10px;
}

.list {
    margin-top: 50px;
    margin-bottom: 60px;
    width: 90%;
}

@media (min-width: 1000px) {
    .list {
        width: 70%;
    }
}

button:hover{
    color: white;
    background-color: #04aaaa;
    padding: 10px;
    border-radius: 20px;
}

#mortgage th{
    background-color: #04aaaa;
    padding-left: 20px;
}
.menu-btn {
    padding: 10px 20px 10px 20px;
}