#mortgages th {
    background-color: #04aaaa;
}

.form-left{
    width: 50%;
    position: absolute;
    height: 50%;
    left: auto;
}

.form-right{
    width: 50%;
    position: absolute;
    height: 100%;
    right: auto;
}


fieldset{
    border: solid;
    border-color: black;
    border-radius: 20px;

}

input{
    border: solid;
    border-color: black;
    border-radius: 15px;
}


h1{
    font-size: 80px;
    text-align: center;
}

div{
    margin: 10px;
}

.h2-form-left{
    font-size: 30px;
    font-weight: bold;
}
.list {
    margin-bottom: 60px;
    width: 90%;
}

@media (min-width: 1000px) {
    .list {
        margin-bottom: 60px;
        width: 70%;
    }
}

button:hover{
    color: white;
    background-color: #04aaaa;
    padding: 10px;
    border-radius: 20px;
}

#mortgage th{
    background-color: #04aaaa;
    padding-left: 20px;
}