.menu-button {
    width: 30%;
    background-color: #038a8a;
    font-size: 20px;
    color: white;
    border: solid;
    border-radius: 40px;
    padding: 10px;
}

button:hover{
    background-color: #04aaaa;
    color: white;
}

buton:hover{
    color: white;
    background-color: #04aaaa;
    padding: 10px;
    border-radius: 20px;
}

#mortgage th {
    background-color: #04aaaa;
    padding-left: 20px;
}