
.menu-button {
    width: 30%;
    background-color: #038a8a;
    font-size: 20px;
    color: white;
    border: solid;
    border-radius: 40px;
    padding: 10px;
}

button:hover{
    background-color: #04aaaa;
    color: white;
}

div{
    margin: 20px;
}


.selected-menue-button{
    margin: 20px 20px 30px 20px;
    color: darkgray;
    font-size: 40px;

}
