input{
    border: solid black;
    border-radius: 15px;
}

.tab-ajust{
    tab-size:20cm;
    -moz-tab-size:20cm;
    -ms-tab-size: 20cm;
    white-space: pre;
}

h1{
    font-size: 80px;
    text-align: center;
}

div{
    margin: 10px;
}

#mortgage td{
    width: 28%;
    font-size: 15px;
    padding-left: 10px;
}

#mortgage th {
    background-color: #04aaaa;
    padding-left: 10px;
}

.list {
    margin-top: 50px;
    width: 55%;
}

.input-field {
    font-size: 15px;
    width: 99%;
    padding: 5px 20px 5px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.noBorder {
    background-color: transparent !important;
    border-bottom-color: transparent;
}

.noBorder td {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

#save {
    padding: 5px 25px 5px 25px;
}

.menu-btn {
    padding: 7px 30px 7px 30px;
}
@media (min-width: 1800px) {
    .menu-btn {
        margin-left: 8px;
    }
}
